<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proxy management</title>

  <style>
    body, html {
      font-family: 'Arial', 'sans-serif';
      margin: 25px 40px;
    }

    table {
      border-collapse: collapse;
    }

    td, th {
      padding: 10px 10px;
    }

    form {
      margin-bottom: 30px;
    }

    input[type=text], input[type=password], input[type=date], textarea {
      padding: 12.5px 15px;
      width: 300px;
      display: block;
    }

    input:not(:last-child), textarea:not(:last-child) {
      margin-bottom: 15px;
    }

    .expired, #error {
      color: red;
    }

    .btn {
      margin-top: 25px;
    }

    .links {
      display: flex;
      align-items: center;
    }

    .links a {
      display: block;
      margin: 15px 0;
      color: deepskyblue;
      font-size: 14px;
    }

    .links a:not(:first-child) {
      margin-left: 15px;
    }

    textarea {
      width: 500px;
      height: 400px;
      margin-top: 20px;
    }

  </style>
</head>
<body>
  {{{body}}}
</body>
</html>