<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proxy management</title>

  <style>
    body, html {
      font-family: 'Arial', 'sans-serif';
      margin: 60px;
    }

    table {
      border-collapse: collapse;
    }

    td, th {
      padding: 10px 10px;
    }

    form {
      margin-bottom: 30px;
    }

    input[type=text], input[type=password] {
      padding: 12.5px 15px;
      width: 300px;
      display: block;
    }

    input:not(:last-child) {
      margin-bottom: 15px;
    }

    .expired, #error {
      color: red;
    }

  </style>
</head>
<body>
  {{{body}}}
</body>
</html>