<h1>Renew</h1>
<p>Paste in the proxies you want to change. This will regenerate the a new list of proxies based on the IPs entered</p>

<form id="renewProxies">
  <textarea placeholder="Paste proxies here&#10;&#10;ip:port:user:pass&#10;ip:port:user:pass" id="proxies"></textarea>
  <input class="btn" type="submit" name="action" value="Renew" />
  <input class="btn" type="submit" name="action" value="Renew (Same password)">
</form>

<script>
  window.onload = () => {
    const renewForm = document.getElementById("renewProxies")
    renewForm.addEventListener('submit', (e) => {
      const changePasswords = (e.submitter.value === "Renew")
      console.log(changePasswords)

      const proxies = document.getElementById("proxies")
      const proxiesText = proxies.value
      const proxiesJson = proxiesText.split('\n').map(p => p.trim())

      let path = '/api/proxies'
      if (!changePasswords) {
        path += `?same=true`
      }

      fetch(path, {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify(proxiesJson)
      }).then(async res => {
        if (res.status === 200) {
          const data = await res.json()

          proxies.value = data.proxies.join('\n')

          console.log(data)
          console.log(`[${res.status}] Successfully renewed proxies`)
        } else {
          console.log(`[${res.status}] Error renewing proxies`)
        }
      }).catch(err => {
        console.log(`[ERR] Error renewing proxies: ${err.message}`)
      })

      e.preventDefault()
    })
  }
</script>